@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: rgb(124, 124, 124);
}

#name {
    text-transform: uppercase;
    float: left;
    margin-left: 150px;
    color: rgb(124, 124, 124);
}

#name span {
    color: rgb(255, 187, 0);
}

#menu {
    float: right;
    margin-right: 10px;
    color: rgb(124, 124, 124);
    font-size: 200%;
}

#menu a {
    text-decoration: none;
}

#menu>li {
    display: inline;
    margin-right: 20px;
    color: rgb(124, 124, 124);
}

#name,
#menu {
    line-height: 1px;
}

#top-wallpaper {
    height: 550px;
    width: 100%;
    overflow: hidden;
}

#bg-image {
    height: 550px;
    width: 100%;
    background: url(../images/backgroung-index.jpg) no-repeat center center;
}

#quote {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 150%;
}

#quote span {
    color: rgb(255, 187, 0);
}

/* styling workshop section */

#workshop-types {
    display: block;
}
.icon {
    width: 15%;
    float: left;
    padding: 5%;
    margin-bottom: 50px;
}

footer {
    height: 150px;
    margin-top: 200px;
}

.social-networks {
    text-align: center;
    font-size: 200%;
}

.social-networks li {
    display: inline;
    margin-top: 100px;
    color: rgb(124, 124, 124);
}

.social-networks a {
    text-decoration: none;
}

/* styling about */
#about {
    font-size: 150%;
}

#about-top {
    text-align: center;
}

.about {
    color: rgb(124, 124, 124);
    padding: 5px;
    margin-left: 10px;
    width: 60%;
}

table {
    text-transform: uppercase;
}