@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: rgb(124, 124, 124);
}

.inline {
    display: inline;
}

#name {
    text-transform: uppercase;
    float: left;
    margin-left: 50px;
    color: rgb(124, 124, 124);
    font-size: 300%;
}

#name span {
    color: rgb(255, 187, 0);
}

#menu {
    float: right;
    margin-right: 10px;
    color: rgb(124, 124, 124);
    font-size: 250%;
}


#menu a {
    text-decoration: none;
}

#menu>li {
    display: inline;
    margin-right: 20px;
    color: rgb(124, 124, 124);
}

#top-wallpaper {
    height: 550px;
    width: 100%;
    overflow: hidden;
}

#bg-image {
    height: 550px;
    width: 100%;
    background: url(../images/backgroung-index.jpg) no-repeat center center;
}

#quote {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 150%;
}

#quote span {
    color: rgb(255, 187, 0);
}

/* styling workshop section */

#workshop-types {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

.icon {
    width: 250px;
    padding: 50px;
}

/* styling about */
#about {
    font-size: 150%;
}

#about-top {
    text-align: center;
}

#about-us {
    width: 80%;
    background-color: rgb(124, 124, 124);
    margin: 0 auto;
    color: white;
    padding-left: 50px;
    padding-bottom: 50px;
    border: 5px rgb(255, 187, 0) solid;
    border-radius: 20px;
    font-size: 120%;
}


td {
    padding-left: 50px;
}

table {
    padding-top: 80px;
    font-size: 150%;
    margin: 0 auto;
}

#data {
    font-size: 150%;
    text-align: center;
}

form {
    width: 100%;
    color: white;
    background-color: rgb(124, 124, 124);
    margin: 0 auto;
    font-size: 200%;
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 5px rgb(255, 187, 0) solid;
}


form input {
    width: 250px;
    height: 30px;
    margin: 20px auto;
    font-size: 120%;
    border-radius: 5px;
}

.signup-box p {
    font-size: 100%;
}

.join {
    margin-top: 30px;
    width: 300px;
    height: 50px;
    margin-bottom: 80px;
    border-radius: 10px;
    border-color: rgb(255, 187, 0);
    font-size: 100%;
}

.join:hover {
    background-color: rgb(255, 187, 0);
}

/* styling footer */

footer {
    height: 150px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
    padding-right: 80px;
    font-size: 300%;
}

.social-networks a {
    text-decoration: none;
    color: rgb(124, 124, 124);
}



#logo {
    height: 70px;
    width: 70px;
}



/* for mobile devces */

@media screen and (max-width:1600px) {
#name {
    margin-left: 20px;
    font-size: 200%;
}

#menu>li {
    margin-right: 20px;
    font-size: 70%;
}

#top-wallpaper {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#bg-image {
    height: 400px;
    width: 100%;
    background: url(../images/1600.1.jpg) no-repeat center center;
}


#quote {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 120%;
}


#about-top {
    font-size: 90%;
}
    
   
.icon {
    width: 200px;
    padding: 50px;
}

#about-us {
    font-size: 100%;
}

#data {
    font-size: 120%;
}

table {
    font-size: 120%;
    padding-top: 50px;
}

form {
    font-size: 150%;
}


form input {
    width: 200px;
    height: 20px;
    font-size: 100%;
}

.signup-box p {
    font-size: 100%;
}

.join {
    margin-top: 30px;
    width: 250px;
    height: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    font-size: 100%;
}

.social-networks li {
    font-size: 200%;
}

#logo {
    height: 50px;
    width: 50px;
}
footer {
    height: 100%;
}
@media screen and (max-width:1300px) {    

#top-wallpaper {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#bg-image {
    height: 300px;
    width: 100%;
    background: url(../images/1300.jpg) no-repeat center center;

}

.icon {
    width: 150px;
    padding: 30px;
}

#about-us {
    padding-left: 30px;
    font-size: 80%;
}


#quote {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 100%;
}


#about-top {
    font-size: 70%;
}

table {
    font-size: 100%;
    padding-top: 30px;
}

#data {
    font-size: 100%;
}

#logo {
    height: 40px;
    width: 40px;
}

footer {
    margin: 40px;
}


@media screen and (max-width:900px) {

#name {
        margin-left: 20px;
        font-size: 150%;
    }
    
    #menu>li {
        margin-right: 20px;
        font-size: 50%;
    }
    
 #top-wallpaper {
     height: 250px;
 }

 #bg-image {
     height: 250px;
     background: url(../images/900.jpg) no-repeat center center;
    }

    .icon {
        width: 120px;
        padding: 20px;
    }

    #about-us {
        padding-left: 20px;
        font-size: 70%;
    }


    #quote {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 80%;
    }


    #about-top {
        font-size: 60%;
    }

    table {
        font-size: 80%;
        padding-top: 20px;
    }

    #data {
        font-size: 80%;
    }
        .join {
            margin-top: 30px;
            width: 200px;
            height: 40px;
            margin-bottom: 30px;
            border-radius: 10px;
            font-size: 80%;
        }

    .social-networks li {
        font-size: 150%;
    }

    #logo {
        height: 30px;
        width: 30px;
    }

    

    footer {
        margin: 30px;
    }

@media screen and (max-width:700px) {

    #name {
        margin-left: 10px;
        font-size: 120%;
    }

    #menu>li {
        margin-right: 10px;
        font-size: 40%;
    }

 #top-wallpaper {
     height: 200px;
 }

 #bg-image {
     height: 200px;
     background: url(../images/700.jpg) no-repeat center center;
 }


    #about-us {
        padding-left: 10px;
        font-size: 50%;
        padding-bottom: 10px;
    }


    #quote {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 50%;
    }

    .icon {
        width: 100px;
        padding: 20px;
     }

    #about-top {
        font-size: 35%;
    }

    table {
        font-size: 60%;
        padding-top: 10px;
    }

    #data {
        font-size: 40%;
    }

    .social-networks li {
        font-size: 80%;
        display: flex;
        flex-direction: column;
    }

    
#logo {
    height: 20px;
    width: 20px;
}

    footer {
        margin: 10px;
    }

@media screen and (max-width:500px) {

    #name {
            margin-left: 10px;
            font-size: 80%;
        }
    
        #menu>li {
            margin-right: 10px;
            font-size: 30%;
        }

    #top-wallpaper {
            height: 200px;
        }
    
        #bg-image {
            height: 200px;
            background: url(../images/500.jpg) no-repeat center center;
        }

}
